@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar: Dark */
.dark ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #0a0a0a;
}

.dark ::-webkit-scrollbar-track {
  background-color: #0a0a0a;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 12px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #16ff00;
}

@layer components {
  body {
    @apply dark:bg-neutral-950 dark:text-neutral-300 text-sm font-normal leading-loose text-balance antialiased;
  }
}
